body{
	border: 20px solid #bdc3c7;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
	font-family: source sans pro;
}

.quote{
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

.post{
	margin-bottom: 20px;
}

.date{
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

h2{
	color: #2c3e50;
	font-size: 2.0rem;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}