html, body, h1, h2, h3, h4, pre, p, div, ul, ol, li {
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
}
h1{
    font-family: "Helvetica Neue", Helvetica, sans-serif ;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}
h2{
    font-family: "Helvetica Neue", Helvetica, sans-serif ;
    font-size: 25px;
    text-align: center;
    color: white;
}
h2 strong{
    font-weight: bold;
}
h3{
    font-family: "Helvetica Neue", Helvetica, sans-serif ;
    font-size: 28px;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid #555555;
    margin: 20px 0 20px 0;
}
h4{
    font-family: "Helvetica Neue", Helvetica, sans-serif ;
    font-size: 20px;
    text-align: center;
}
.header, .footer{
    background-color: #888888;
}
.tagline{
    background-color: black;
    padding: 20px 0 20px 0;
}
.experience{
    width: 700px;
    margin: 0 auto;
}
.skills{
    width: 700px;
    margin: 0 auto 10px;
}
.skills li{
    font-family: "Helvetica Neue", Helvetica, sans-serif ;
    font-weight: bold;
    margin-right: 10px;
    display: inline;
    background-color: #444444;
    color: white;
    padding: 2px 2px 2px 2px;
}
#div6 ul, #div7 ul{
    list-style-type: none;
}
#div1, #div2, #div3, #div4, #div5, #div6{
    margin-bottom: 20px;
}
.footer p{
    text-align: center;
    padding: 8px 8px 8px 8px;
    font-size: 30px;
}
